* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  font-family: "Montserrat Alternates";
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "Heebo";
  font-weight: 700;
  font-style: normal;
}

h2,
h3,
h4 {
  font-family: "Overpass";
  font-weight: 300;
  font-style: normal;
}
.container {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  height: 100vh;
}
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}
